/*  */

.PokemonOverview{
    width:100vw;
    height: calc(93vh - 2px);
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}
.PokemonOverview .material-symbols-outlined{
    position:absolute;
    font-size:5rem;
    border:2px solid #333;
    color:#333;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.PokemonOverview .material-symbols-outlined:hover{
    background-color: #00000011;
}


.PokemonOverview #NextButton{
    right: 2%;
}
.PokemonOverview #PreviousButton{
    left:2%;
}
