.PokemonOverviewCard{
    width:60%;
    height: calc(90vh - 10px);
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 7px gray, -2px -2px 10px gray;
    padding-left: 30px;
    padding-right: 30px;
}


.PokemonOverviewCard .pokemonIdBox{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;
}
.PokemonOverviewCard .pokemonIdBox .pokemonId{
    margin-right: 50px;
}



.PokemonOverviewCard .pokemonPicAndNameBox{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Press Start 2P';
}
.PokemonOverviewCard .pokemonPicAndNameBox .pokemonPicBox{
    width:200px ;
    height: 200px;
    border: none;
    border-radius: 50%;
   margin-bottom:10px;
}
.PokemonOverviewCard .pokemonPicAndNameBox .pokemonPicBox img{
    width: 200px;
    
}

.PokemonOverviewCard .pokemonOverviewCardInfo{
    display: flex;
    width: 50%;
    /* background-color: aqua; */
    font-size: 2rem;
    /* font-weight: bold; */
    /* font-family: 'Press Start 2P'; */
    /* justify-content: space-between; */
    /* flex-grow:1; */
    align-self: flex-start;
}
/* .PokemonOverviewCard .pokemonOverviewCardInfo .pokemonStatsContainer{
    display: flex;
    flex-direction: column;
} */
.PokemonOverviewCard .pokemonOverviewCardInfo .pokemonCombatStats p {
    margin-bottom: 5px;
    display: flex;
}
.PokemonOverviewCard .pokemonOverviewCardInfo .pokemonCombatStats .pokemonCombatStatsTitle{

    text-align: center;



}
.PokemonOverviewCard .pokemonOverviewCardInfo .pokemonCombatStats {
    /* margin-left:100%; */
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.PokemonOverviewCard .pokemonOverviewCardInfo .pokemonOtherStats{
    /* background-color: red; */
    margin-top:64px;
}
.PokemonOverviewCard .pokemonOverviewCardInfo .pokemonOtherStats p{
    margin-bottom:5px;
}






