.SideMenu{
    /* background-color: aqua; */
    position: fixed;
    height: calc(100vh - 20vh);
    width: 20vw;
    flex-shrink: 0;
    /* top:35vh; */
    overflow-y: auto;
    align-self: center;
    border:1px solid #00000044;
    border-radius: 7px;
    /* border-bottom: none; */
    left: 20px;
    margin-top: 60px;
}