*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
.App{
  display:flex;
  height: calc(100vh - 2px);
  flex-direction: column;
  /* background-color: #e78f0124; */
  background-color: aliceblue;
  /* align-items: flex-end; */
  align-items: center;
    


}


/*  */