::placeholder{
    color:rgba(0, 0, 0, 0.5);
}
#search::-webkit-search-cancel-button{
    cursor: pointer;
}

.HeaderSearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
}
.HeaderSearchBar:focus-within{
    /* outline:1px solid #f2d20042; */
    /* outline:2px solid #ee721a; */
    outline:1px solid rgba(0, 0, 0, 0.2);
}
/*  */



.HeaderSearchBar #search{
    border:none;
    outline: none;
    padding:7px;
    font-size: 1.5rem;
    border-radius:10px;
    color:black;
    
}
.HeaderSearchBar #search:focus{
    color:black;
}


.HeaderSearchBar .searchIconBox{
    display: flex;
    cursor: pointer; 
    width: 100%;
    height: 41px;
    align-items: center;
    
}

.HeaderSearchBar .searchIconBox span{
    color:#000;
    font-size: 2rem;
}

/* .HeaderSearchBar .searchIcon{
    height: 36px;
} */